<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/nav.ejs") %>

    <div class="about">
        <h2>Random ideas into text</h2>
        <p>Ideas... where do they come from?</p>
        <p>And thoughts? How automatic are them?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, ea!</p>
        
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>