<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/nav.ejs") %>

    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, ea!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque nam doloremque dolor consectetur cum libero dolore, perspiciatis necessitatibus ullam, consequatur nemo repellendus autem nihil animi minus?</p>
        
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>