<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>

  <%- include("./partials/nav.ejs") %>

  <h1>Add new blog</h1>

  <div class="add-person-form">
      <form>
        <label for="title">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" required>
        <button>Submit</button>
      </form>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>