<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>

  <%- include("./partials/nav.ejs") %>

  <div class="add-blog">
      <form>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        
        <label for="shortDescription">Short description:</label>
        <input type="text" id="shortDescription" name="shortDescription" required>
        
        <label for="content">Content: </label>
        <textarea name="content" id="content" rows="14"></textarea>

        <button>Submit</button>
      </form>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>