@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Noto Serif', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(240, 233, 233);
}
p, h1, h2, h3, a, ul{
    /* margin: 0; */
    /* padding: 0; */
    text-decoration: none;
    color: #222;
}
p{
    line-height: 1.6;
}
/* nav & footer styles */
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(201, 117, 104);
    text-transform: uppercase;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
nav li{
    list-style-type: none;
    padding: 6px;
    border-radius: 6px;
    font-weight: 300;
}
nav li:hover{
    background-color: rgb(253, 172, 157);
    font-weight: bold;
}
nav h1{
    font-size: 2em;
}

.item{
    background-color: #fff;
    margin: 16px;
    padding: 14px 30px;
    /* border-radius: 12px; */
    border-top-right-radius: 12px;
    border-end-end-radius: 12px;
    position: relative;
    border-left: 10px solid black;
}
.item:hover{
    background-color: rgb(225, 156, 145);
}
.item h2{
    margin-bottom: 12px;
}
.item p{
    padding-inline: 12px;
    font-size: 1.1rem;
}
.item h2{
    margin-bottom: 12px;
}

.item-btn-container{
    position: absolute;
    top: 6px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.edit-item-btn, 
.delete-item-btn button{
    background-color: rgb(248, 215, 210);
    border: 1px solid gray;
    border-radius: 6px;
    width: 50px;
    display: flex;
    justify-content: center;
    padding: 4px 0;
}

.edit-item-btn:hover,
.delete-item-btn button:hover{
    color: black;
    border: 2px solid black;
    box-shadow: 4px 4px 6px black;
    background-color: red;
    cursor: pointer;
}

.item-individual{
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    position: relative;
    white-space: pre-wrap; /*To preserve white spaces and new lines from the textarea input*/
    font-family: 'Noto Serif', serif;
    font-size: 1.3rem;
}
.item-individual h2{
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
}
.item-individual p {
    margin: 0;
    padding-inline: 10%;

}

footer{
    color: #777;
    padding: 12px;
    margin-top: auto;
    text-align: center;
}
.add-blog form{
    max-width: 800px;
    margin: 0 auto;
}

.add-blog button{
    display: block;
    margin: 30px auto;
    width: 200px;
    background: crimson;
    color: white;
    padding: 6px 12px;
    border: 0;
    border-radius: 6px;
    font-size: 1.2em;
    cursor: pointer;
}

input,
textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
label{
    display: block;
    margin-top: 24px;
}

/* Signup and Login views */
/* **************************************** */
.signup {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: white;
}
.signup input{
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    align-self: center;
}
.signup button{
    margin-top: 30px;
    border-radius: 36px;
    background: #FEE996;
    border:0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    padding: 10px 16px;
    letter-spacing: 2px;
}
.signup button:hover{
    cursor: pointer;
    background-color: #ffdd53;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
  }

  .error{
    color: #ff0099;
    border: 2px solid #ff0099;
    border-radius: 6px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
  }
  .border-red {
    border: 2px solid #ff0099 !important;
}
  .border-red:focus-visible{
    outline:none;
}